---
name: Brew Update
on:
  schedule:
    - cron: '0 12 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.7]

    steps:
      - uses: actions/checkout@master

      - name: setup python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: gather requirements
        run: |
          python -m pip install --upgrade pip pkpass-olcf
          python -m pip freeze | grep -v pyseltongue > Formula/requirements_pkpass.txt
          python -m pip freeze | grep pyseltongue >> Formula/requirements_pkpass.txt
        # pyseltongue needs to be installed last, and since brew doesn't let pip do it's job
        # then we have to force brew to act a bit more like pip
      - name: Create local changes
        run: |
          python -m pip install --upgrade pip
          cd Formula
          pip install -r requirements.txt
          python update_info.py

      - name: Commit files
        run: |
          git status > /tmp/git_out
          if  grep -q "nothing to commit" /tmp/git_out ; then
            echo "No new changes"
          else
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git add Formula/pkpass.rb Formula/requirements_pkpass.txt
            git commit -m "updating package_info" -a
          fi

      - name: Push Changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
